



.container-fluid, .row{
    padding: 0.5rem;
    height: 100%;
}


.cl1{
    height: 10vh;
}
.col{
    height: 36vh;
    padding: 0.5rem;
    background-color: #228ee7;
    
}
.col-6{
    height: 70vh;
    background-color: #228ee7;
      
}

.colo{
    height: 30vh;
}

